.formulario-container {

  border-radius: 10px;

  html[data-bs-theme="light"] & {
    background-color: $bg-color-secondary;
  }

  html[data-bs-theme="dark"] & {
    background-color: $bg-color-primary-dark;
  }
}

.title-formulario-de-contacto {
  @include font-title;


  html[data-bs-theme="light"] & {
    color: $text-color-primary;
  }

  html[data-bs-theme="dark"] & {
    color: $text-color-primary-dark;
  }
}

#formulario-de-contacto {


  html[data-bs-theme="light"] & {
    background-color: $bg-color-tertiary;
  }

  html[data-bs-theme="dark"] & {
    background-color: $bg-color-secondary-dark;
  }
}

.form-control,
.form-select {

  border: none;
  font-size: 0.95rem;

  html[data-bs-theme="light"] & {
    background-color: $bg-color-form;
    color: $text-color-primary;
  }

  html[data-bs-theme="dark"] & {
    background-color: $bg-color-form;
    color: $text-color-secondary-dark;
  }

  &:focus {

    box-shadow: 0 0 0 0.25rem rgba(27, 73, 101, 0.25);
    border-color: transparent;

  }
}

.form-label {

  @include font-form;
  margin-bottom: 0.5rem;
  margin-top: 1rem;

  &.message {
    line-height: 1.5;
  }

  html[data-bs-theme="light"] & {
    color: $text-color-primary;
  }

  html[data-bs-theme="dark"] & {
    color: $text-color-secondary-dark;
  }
}

label.form-label {
  @include font-form;

  html[data-bs-theme="light"] & {
    color: $text-color-primary;
  }

  html[data-bs-theme="dark"] & {
    color: $text-color-primary-dark;
  }
}


.form-check-input,
.form-check-label {
  @include font-form;
  color: $text-color-primary;
}

.btn-send,
.btn-clear {
  width: fit-content;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;

  html[data-bs-theme="light"] & {
    background-color: $bg-color-primary;
    color: $bg-color-secondary;
    @include button-gradient;
  }

  html[data-bs-theme="dark"] & {
    background-color: $bg-color-tertiary-dark;
    color: $text-color-secondary-dark;
    @include button-gradient-dark;
  }

  @include media-breakpoint-down(sm) {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
  }
}

.img-form {
  box-shadow: 0 12px 36px 0 rgba(27, 73, 101, 0.28), 0 4px 16px 0 rgba(0, 0, 0, 0.18);
}

.open-modal-text {
  cursor: pointer;
  text-decoration: underline;

  html[data-bs-theme="light"] & {
    color: $text-color-primary;
  }

  html[data-bs-theme="dark"] & {
    color: $text-color-primary-dark;
  }
}

.form-check-input {
  border: none;

  html[data-bs-theme="light"] & {
    background-color: $bg-color-primary;
  }

  html[data-bs-theme="dark"] & {
    background-color: $bg-color-primary-dark;
    box-shadow: 0 0 0 0.12rem rgba(255, 255, 255, 0.06) inset;
  }
}

.form-check-label {
  html[data-bs-theme="light"] & {
    color: $text-color-primary;
  }

  html[data-bs-theme="dark"] & {
    color: $text-color-secondary-dark;
  }
}

#formulario label.form-label {
  @include font-form;

  html[data-bs-theme="light"] & {
    color: $text-color-primary;
  }

  html[data-bs-theme="dark"] & {
    color: $text-color-primary-dark;
  }
}

#formulario .form-control::placeholder {
  color: $text-color-primary;
  opacity: 1;
}

#formulario textarea::placeholder {
  color: $text-color-secondary-dark;
  opacity: 1;
}