.hero {
  height: calc(100vh - $header-height);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  h1 {
    background-color: rgba(246, 246, 246, 0.65);
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
    color: $bg-color-primary;
    font-family: $font-subtitle;
    font-size: 2.5rem;
    font-weight: 700;
    margin-right: 5%;
    position: relative;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    height: calc(80vh - $header-height);
    justify-content: center;

    h1 {
      font-size: 1.8rem;
    }
  }
}