@mixin button-gradient {
  transition: all 0.3s ease-in-out;

  &:hover {
    background-image: linear-gradient(to top, #1B4965 30%, #3693CB 80%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: $bg-color-secondary;
    cursor: pointer;
  }
}

@mixin font-title {
  font-family: $font-title;
  font-weight: 600;
  font-size: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 3rem;
  }
}

@mixin font-subtitle {
  font-family: $font-subtitle;
  font-weight: 500;
  font-size: 1.75rem;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.25rem;
  }
}

@mixin font-text {
  font-family: $font-text;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.125rem;
  }
}

@mixin carousel-styles-control {
  .carousel-control-prev,
  .carousel-control-next {
    background-color: rgba($bg-color-primary, 0.5);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    &:hover {
      background-image: linear-gradient(to top, #1B4965 30%, #3693CB 80%);
      transform: translateY(-50%) scale(1.1);
    }
  }
  .carousel-control-prev {
    left: -5rem;
  }
  .carousel-control-next {
    right: -5rem;
  }
  .carousel-indicators [data-bs-target] {
    background-color: $bg-color-primary;
  }
}

@mixin carousel-container {
  background-color: $bg-color-secondary;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
