
  $bg-color-primary: #1b4965;
  $bg-color-secondary: #f6f6f6;
  $bg-color-tertiary: #fffdf9;
 
  $font-title: "Roboto", sans-serif;
  $font-subtitle: "Montserrat", sans-serif;
  $font-text: "Aldrich", sans-serif;

  $header-height: 3.75rem;

$primary: $bg-color-primary;
$secondary: $bg-color-secondary;
$tertiary: $bg-color-tertiary;
